.header-bg {
  height: 10vh;
  padding: 10px;
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website-logo {
  height: 100%;
  width: 150px;
}
.score-timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  height: 100%;
  list-style-type: none;
}
.score-element {
  color: white;
  font-size: medium;
  font-weight: bold;
}
.orange-text {
  color: #f60;
  font-size: medium;
}
.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 100%;
  text-align: center;
}
.timer-img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
